
/*Required for sticky header*/
body { 
    padding-top: 65px; 
    height: 100%;
}

/*Reponsive thumbnail images*/
.thumbnail  {
    display: block;
    width: auto;
    max-height: 100%;
    max-width: 100%, 
}

/*Center the link and title for featured image*/
.image {
	text-align: center;
}


